.chat {
  width: 400px;
  height: 400px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBody {
  border-radius: 1rem;
  padding: 1rem;
  height: 100%;
  margin: 1rem 0;
  overflow-y: auto;
  overflow-wrap:break-word;
  display:flex;
  flex-direction: column-reverse;
  font-size: 1rem;
  border: 2px solid #3d3d3d;
}

.input {
  margin-right: 1rem;
  padding: 0.3rem;
  font-size: 1.3rem;
  border: none;
  background: none;
  border-bottom: 1px solid white;
}

.btn {
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: 200ms;
}

.btn:hover {
  background-color: var(--clr-cyan);
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: 200ms;
}

.flex {
  display: flex;
}